<div class="md-padding" ng-cloak>
  <mat-table class="mat-elevation-z8" [dataSource]="dataSource">
      <ng-container matColumnDef="version">
          <mat-header-cell *matHeaderCellDef>
              Version
              <a mat-icon-button routerLink="/{{project}}/create-configuration">
                <mat-icon aria-label="Add Configuration">add_circle</mat-icon>
              </a>
          </mat-header-cell>
          <mat-cell *matCellDef="let version">{{version}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let version" (click)="$event.stopPropagation()">
              <button mat-icon-button (click)="editConfig(version)">
                    <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteConfig(version)">
                    <mat-icon>delete</mat-icon>
              </button>
          </mat-cell>
      </ng-container>
       <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
       <mat-row *matRowDef="let row; columns: displayedColumns"
                         (click)="customize(row)"></mat-row>
  </mat-table>
</div>
