<div class="md-padding" ng-cloak layout="column">
  <mat-card>
    <mat-card-title>
      Choose eLink version
      <a mat-icon-button routerLink="/create-configuration">
        <mat-icon aria-label="Add Configuration">add_circle</mat-icon>
      </a>
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-select placeholder="Select">
          <mat-option *ngFor="let version of versionList" (click)="select(version)" [value]="version">{{version}}</mat-option>
        </mat-select>
      </mat-form-field>
      <a mat-button (click)="customize()">Customize eLink</a>
    </mat-card-content>
  </mat-card>
</div>