<div class="container" layout="row" flex>
  <h2 class="mat-h2">Customize {{eLinkVersion}}</h2>
  <form>
    <div layout="row" flex *ngFor="let customizable of customizables">
    <md-form-field>
        <input mdInput placeholder="{{customizable.name}}" />
    </md-form-field>
    </div>
    <div layout="row" flex>
      <a md-raised-button layout-fill routerLink="'versions-list'"><span flex>Back</span></a>
      <a md-raised-button layout-fill (click)="downloadWar()">Download &amp; install</a>
    </div>
  </form>
</div>