<div class="md-padding" ng-cloak layout="column">
  <mat-card>
    <mat-card-title>Customize {{eLinkVersion}}</mat-card-title>
    <mat-card-content>
      <form>
        <div layout="row" flex *ngFor="let customizable of customizables">
        <mat-form-field>
            <input name="value" matInput placeholder="{{customizable.name}}" [(ngModel)]="customizable.value"/>
        </mat-form-field>
        </div>
        <div layout="row" flex>
          <a mat-button layout-fill (click)="downloadWar()">Download</a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>